$primary-colour: #1875d0;

.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 0 0 20px;

  background-color: $primary-colour;
  color: white;

  &__title {
    font-weight: normal;
  }
}
