.wrapper {
  display: flex;
  flex: 1;
}

.inputs {
  display: flex;
  flex-direction: column;
  // padding: 20px 50px;
  padding: 20px;
  gap: 10px;
  max-width: 30vw;
  position: relative;

  border-color: grey;
  border-style: solid;
  border-width: 0 1px 0 0;
  text-align: left;

  &__closed {
    &__heading {
      transform: rotate(-90deg);
    }
  }

  &__toggle_button {
    position: absolute; // Position the button absolutely
    top: 50%; // Adjust the vertical position as needed
    right: 0; // Adjust the horizontal position to place it outside the right border
    transform: translateX(50%); // Center the button on the border
    z-index: 10; // Ensure it appears above other elements
  }

  &__form {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  &__text_inputs {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 10px;
  }

  &__file_inputs {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 10px;
  }

  &__end_buttons {
    display: flex;
    justify-content: end;
    gap: 10px;
  }
}

.results {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  padding: 20px 50px;
  width: 70vw;

  text-align: left;

  &__heading {
    &__container {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
  }

  &__loading {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 25px;
    flex-grow: 1;

    &__spinner {
      margin: 0 0 10px 0;
    }

    &__text {
      margin: 0;

      &__container {
        display: flex;
        flex-direction: column;
        align-items: center;
      }
    }
  }

  &__table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 1rem;

    &__container {
      max-height: calc(
        100vh - 215px
      ); // Adjust to fit within the viewport height
      overflow-y: auto; /* Enable vertical scrolling */
      overflow-x: auto; /* Ensure the table is scrollable if it's too wide */
      margin-top: 1rem;
    }

    &__header {
      border: 1px solid #ccc;
      padding: 0.5rem;
      text-align: center;
      color: black;
      font-size: 1rem;
      background-color: #eaeaea;
    }

    &__data {
      border: 1px solid #ccc;
      padding: 0.5rem;
      text-align: center;
      color: black;
      font-size: 1rem;
    }
  }
}

.input {
  &__file_upload {
    display: flex;
    align-items: center;

    border: solid;
    border-color: lightgrey;
    border-width: 1px;
    border-radius: 4px;

    &__description {
      margin-left: 10px;

      &__placeholder {
        margin-left: 10px;
        color: grey;
      }
    }
  }
}
