.wrapper {
  display: flex;
  flex: 1;
}

.inputs {
  display: flex;
  flex-direction: column;
  padding: 20px;
  gap: 10px;

  border-color: grey;
  border-style: solid;
  border-width: 0 1px 0 0;
  text-align: left;

  &__closed {
    &__heading {
      transform: rotate(-90deg);
    }
  }

  &__form {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  &__text_inputs {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }

  &__end_buttons {
    display: flex;
    justify-content: end;
  }
}

.results {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  padding: 20px;

  text-align: left;
}

.input {
  &__file_upload {
    display: flex;
    align-items: center;

    border: solid;
    border-color: lightgrey;
    border-width: 1px;
    border-radius: 4px;

    &__description {
      margin-left: 10px;

      color: grey;
    }
  }
}
